<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="1">
    <title>Clock</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Digital-7&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'time.css' %}">
</head>
<body>
    <div style="border: 2px solid;
                background-color: rgb(38, 62, 63); border-radius: 25px; margin:100px;">

    <div class="box">



        <div class="heading">The Digital Clock</div>

        <div class="time">{{time}}<div class="ap">{{am_pm}}</div></div>

        <div class="date">{{date}}</div>

    </div>  



</div>
</body>
</html>
